<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Functions</h1>

<table>

  <div class="col-md-4">
    <%= render 'search_form'%>

    <%= link_to 'New Function', new_technique_path %>
  </div>

  <div class="col-md-1">
    <!-- 調整用です -->
  </div>

  <div class="col-md-8">
    <%= render 'result'%>
  </div>
</table>

<br>
